<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>

<% if(page.comments && theme.utterances.enabled){ %>
    <div class="blog-post-comments">
        <noscript><%= __('comments.no_js') %></noscript>
        <script src="https://utteranc.es/client.js"
                repo="alexpnt/alexpnt.github.io"
                issue-term="pathname"
                label="comments"
                theme="photon-dark"
                crossorigin="anonymous"
                async>
        </script>
    </div>
<% } %>
